.chat {
  display: grid;
  flex-direction: column;
  grid-template-columns: 2fr 8fr;
  background: #ddd;
}
.left-side-chat {
  background-color: rgb(255, 255, 255);
  height: 100vh;
  display: block;
  box-shadow: 0 0 20px 0px #999;
  border-right: 2px solid #ddd;
}
.right-side-chat {
  background: #fff;
  width: 100%;
}

/*========================================== CHAT USERS ==========================================*/
.conversation {
  display: grid;
  grid-gap: 10px;
  box-shadow: 0 0 25px -15px #000;
  padding: 5px 20px;
  margin-top: 10px;
}
.conversation:hover {
  background: #f6f6f6;
  cursor: pointer;
}
.conversesion-user {
  display: flex;
  align-items: center;
}
.online-dot {
  width: 20px;
  height: 20px;
  background: #31a24c;
  border: 3px solid #fff;
  border-radius: 50%;
  position: absolute;
  margin-top: 37px;
}
.offline-dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #878885;
  position: absolute;
  margin-top: 37px;
}
.follower-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 0px 3px 5px 3px;
  border: 2px solid #878885;
}
.userNameMsg {
  display: grid;
  align-items: center;
  margin-left: 10px;
  color: #000;
}
.user-name {
  font-size: 16px;
  font-weight: bold;
}
.online-offline {
  font-size: 12px;
}

/*========================================== CHAT BOX ==========================================*/
.chat-box-wrapper {
}
.chat-box-conversesion {
  border-bottom: 1px solid #cacaca;
  padding: 15px;
  width: 100%;
  position: relative;
  top: 0;
}
.message {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 12px;
  border-radius: 15px;
  background: #00ffff;
  margin-top: 10px;
  max-width: 45%;
}
.own {
  align-self: flex-end;
  margin-left: auto;
  background: #31a24c;
  display: flex;
}
.message-text {
  font-size: 17px;
  font-weight: 600;
}
.message-time {
  font-size: 13px;
  font-weight: 600;
}
.chat-body {
  padding: 20px;
  display: block;
  overflow-y: scroll;
  height: 74vh;
}
.chat-sender-set-bottom {
  position: absolute;
  bottom: 0;
  width: 80%;
}
.chat-sender {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-top: 1px solid #cacaca;
  align-self: end;
}
.send-images {
  font-size: 20px;
  border: none;
  background: transparent;
  cursor: pointer;
}
.send-button {
  font-size: 25px;
  border: none;
  background: none;
  color: #147fc7;
  padding-bottom: 0;
  border-radius: 50%;
}
.send-button:hover {
  cursor: pointer;
  color: #0041c2;
}
.tap-on-chat {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.tap-on-chat-text {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
