/*========================================== CHAT BOX ==========================================*/
.chat-box-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #cacaca;
}
.left-arrow-btn{
  border: none;
  background: transparent;
  font-size: 30px;
  margin-left:10px;
  cursor: pointer;
}
.chat-box-conversesion {
  padding: 15px;
  width: 100%;
  position: relative;
  top: 0;
}
.user-name{
  font-size: 18px;
  letter-spacing: .5px;
}
.active-now{
  font-size: 14px;
  font-weight: 500;
  margin-top: 2px;
  letter-spacing: -0.5px;
}
.call-user{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}
.call-user-icon{
  font-size: 25px;
  color: #0084ff;
  font-weight: 600;
  border: none;
  margin: 0 10px;
  padding: 5px 5px 0px 5px;
  border-radius: 50%;
  background: transparent;
}
.call-user-icon:hover{
  background: rgba(221, 221, 221, 0.704);
  cursor: pointer;
}
.message {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 12px;
  border-radius: 15px;
  background: #ddd;
  margin-top: 15px;
  max-width: 45%;
}
.own {
  align-self: flex-end;
  margin-left: auto;
  background: #0084ff;
  color: #fff;
  display: flex;
}
.message-text {
  font-size: 17px;
  font-weight: 600;
  width: 100%;
}
.chat-body {
  padding: 20px;
  display: block;
  overflow-y: scroll;
  height: 74vh;
}
.chat-body::-webkit-scrollbar{
  width: 10px;
}
.chat-body::-webkit-scrollbar-track {
  background: #dcdcdc; 
  border-radius: 25px
};
.chat-body::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.356);
  border-radius: 25px;
}
.chat-body::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.837);
  border-radius: 25px;
}
.chat-body::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.548); 
  border-radius: 25px;
}
.chat-sender-set-bottom {
  position: absolute;
  bottom: 0;
  width: 75%;
}
.chat-sender {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-top: 1px solid #cacaca;
  align-self: end;
}
.send-images {
  font-size: 20px;
  border: none;
  background: transparent;
  cursor: pointer;
}
.send-button {
  font-size: 25px;
  border: none;
  background: none;
  color: #147fc7;
  padding-bottom: 0;
  border-radius: 50%;
}
.send-button:hover {
  cursor: pointer;
  color: #0041c2;
}
.tap-on-chat {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.tap-on-chat-text {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  color: rgb(74, 74, 74);
}